{% extends "base.html" %}
{% load static %}
{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "create_article" %}">Создание статьи</a>
    </li>
{% endblock %}
{% block content %}
    <form action="{% url "index" %}" method="get">
        {% include "partial/form.html" with button_text="Найти" form=search_form %}
    </form>
    <a href="{% url "index" %}">На главную</a>
    <h1>Статьи</h1>
    <div class="row">
        {% for article in articles %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <a href="{% url "article_view" article.pk %}" class="card-link">Подробнее</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <form action="{% url "create_article" %}" method="post">
        {% csrf_token %}
        {% include "partial/form.html" with button_text="Создать" form=create_article_form %}
    </form>
{% endblock %}

