{% extends "base.html" %}
{% load static %}
{% block nav %}

    {% if perms.webapp.add_project %}
        <li class="nav-item">
            <a class="nav-link" href="{% url "webapp:create_project" %}">Создание проекта</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}

    <h1 class="text-center">Проекты</h1>
    <div class="row">
        {% for project in projects %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                    </div>
                    {% if perms.webapp.view_project and user in project.users.all %}
                        <a class="nav-link" href="{% url "webapp:detail_project" project.pk %}">Подробнее</a>
                        <a class="nav-link" href="{% url "webapp:change_users_in_project" project.pk %}">Редактировать
                            состав</a>
                    {% endif %}
                    {% for u in project.users.all %}
                        <span>{{ u.username }},</span>
                    {% endfor %}
                </div>
            </div>
        {% empty %}
            Нет проектов
        {% endfor %}
    </div>
{% endblock %}

